<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wingspan</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

  <meta charset="utf-8">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<!-- Loop over each object in the projects array -->

<div class="row">
{{#each posts as |post| }}
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <img class="card-img-top" src="{{post.image_url}}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title"><a id="card-link" href="/posts/{{post.id}}">{{post.name}}</a></h5>
        <p class="card-text">{{post.description}}</p>
         <!-- <a href="/posts/{{post.id}}" > View full post </a>  -->
      </div>
      <div class="card-location border">
        <p class="card-text" id="location"><small class="text-muted">Seen by {{user.name}} on {{format_date date_created}} in 📍{{post.location}}</small></p>
      </div>
    </div>
  </div>
{{/each}}
</div>




