<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="bird-name">bird name:</label>
        <input class="form-input" type="text" id="bird-name" name="bird-name" />
      </div>
      <div class="form-group">
        <label for="bird-location">bird location:</label>
        <input class="form-input" type="text" id="bird-location" name="bird-location" />
      </div>
      <div class="form-group">
        <label for="bird-desc">description:</label>
        <textarea class="form-input" id="bird-desc" name="bird-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="imageFile" class="form-label">Image upload</label>
        <input class="form-control" type="file" id="imageFile" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if Posts.length}}
  <div class="col-md-6 post-list">
    <h3>Current Posts:</h3>

    {{#each Posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/posts/{{post.id}}">{{post.name}}</a></h4>
        <h5>{{post.description}}</h5>
        <h5>{{post.location}}</h5>
        <img src="{{post.image_url}}" height="175px">
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
<script src="/js/comment.js"></script>
